@media screen and (min-width: 767px)
  .hero-carousel
    padding-right: 5px
  .hero-news
    padding-left: 0px

@media screen and (max-width: 767px)
  .fh5co-cards .fh5co-card-small .card-body .news-body
    font-size: 0.7em
